<!DOCTYPE html>
<html>
  <head>
    <title>Work</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- googleフォント -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- ナビゲーション -->
    <%= render  "shared/navbar" %>

    <!-- フラッシュメッセージ -->
    <%= render 'shared/flash' %>

    <%= yield %>
    
  </body>
</html>
